USE [master]
GO
/****** Object:  Database [ПВЗ]    Script Date: 23.11.2023 10:39:46 ******/
CREATE DATABASE [ПВЗ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ПВЗ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERVER\MSSQL\DATA\ПВЗ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ПВЗ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SERVER\MSSQL\DATA\ПВЗ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ПВЗ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ПВЗ]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 23.11.2023 10:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[id] [nvarchar](50) NOT NULL,
	[Код_заказа] [nvarchar](50) NULL,
	[Дата_создание] [nvarchar](50) NULL,
	[Время_заказа] [nvarchar](50) NULL,
	[Код_клиента] [nvarchar](50) NULL,
	[Услуги] [nvarchar](50) NOT NULL,
	[Статус] [nvarchar](50) NULL,
	[Дата_закрытия] [nvarchar](50) NULL,
	[Время_закрытия] [nvarchar](50) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 23.11.2023 10:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[ФИО] [nvarchar](50) NOT NULL,
	[Код клиента] [nvarchar](50) NULL,
	[Паспортные данные] [nvarchar](50) NULL,
	[Дата рождения] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[e-mail] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[ФИО] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 23.11.2023 10:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код_сотрудника] [nchar](10) NOT NULL,
	[Должность] [nvarchar](50) NULL,
	[ФИО] [nvarchar](50) NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[Тип_Входа] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[У№сл]    Script Date: 23.11.2023 10:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[У№сл](
	[id] [int] NOT NULL,
	[Наименование услуги] [nvarchar](50) NULL,
	[Код услуги] [nvarchar](50) NULL,
	[Стоимость, руб.  за час] [nvarchar](50) NULL,
	[id_клиент] [nvarchar](50) NULL,
	[id_Сотрудники] [nchar](10) NULL,
 CONSTRAINT [PK_У№сл] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([id], [Код_заказа], [Дата_создание], [Время_заказа], [Код_клиента], [Услуги], [Статус], [Дата_закрытия], [Время_закрытия]) VALUES (N'1', N'45462526/12.03.2022', N'12.03.2022', N'9:10', N'45462526', N'34, 31, 353, 336', NULL, NULL, NULL)
INSERT [dbo].[Заказы] ([id], [Код_заказа], [Дата_создание], [Время_заказа], [Код_клиента], [Услуги], [Статус], [Дата_закрытия], [Время_закрытия]) VALUES (N'10', N'45462535/21.03.2022', N'21.03.2022', N'11:00', N'45462535', N'98, 45, 89, 353, 336, 35', NULL, NULL, NULL)
INSERT [dbo].[Заказы] ([id], [Код_заказа], [Дата_создание], [Время_заказа], [Код_клиента], [Услуги], [Статус], [Дата_закрытия], [Время_закрытия]) VALUES (N'11', N'45462536/22.03.2022', N'22.03.2022', N'12:00', N'45462536', N'34, 31, 353, 338', NULL, NULL, NULL)
GO
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Тип_Входа]) VALUES (N'ID 101    ', N'Продавец', N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Тип_Входа]) VALUES (N'ID 102    ', N'Продавец', N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00')
INSERT [dbo].[Сотрудники] ([Код_сотрудника], [Должность], [ФИО], [Логин], [Пароль], [Тип_Входа]) VALUES (N'ID 103    ', N'Администратор', N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00')
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD  CONSTRAINT [FK_Клиент_Заказы] FOREIGN KEY([Код клиента])
REFERENCES [dbo].[Заказы] ([id])
GO
ALTER TABLE [dbo].[Клиент] CHECK CONSTRAINT [FK_Клиент_Заказы]
GO
ALTER TABLE [dbo].[У№сл]  WITH CHECK ADD  CONSTRAINT [FK_У№сл_Клиент] FOREIGN KEY([id_клиент])
REFERENCES [dbo].[Клиент] ([ФИО])
GO
ALTER TABLE [dbo].[У№сл] CHECK CONSTRAINT [FK_У№сл_Клиент]
GO
ALTER TABLE [dbo].[У№сл]  WITH CHECK ADD  CONSTRAINT [FK_У№сл_Сотрудники] FOREIGN KEY([id_Сотрудники])
REFERENCES [dbo].[Сотрудники] ([Код_сотрудника])
GO
ALTER TABLE [dbo].[У№сл] CHECK CONSTRAINT [FK_У№сл_Сотрудники]
GO
USE [master]
GO
